body {
    padding-top: 20px;
}
.container {
    max-width: 600px;
}
.error-message {
    color: #dc3545;
}

#snackbar {
    display: none;
    min-width: 200px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#snackbar.show {
    display: block;
    opacity: 1;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
